<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <!-- Include Bootstrap CSS from a CDN for styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .section {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Booking Successful</h2>
                    </div>
                    <div class="card-body">
                        <!-- Movie Details Card -->
                        <div class="card section">
                            <div class="card-header bg-primary text-white">
                                <h3>Movie Details</h3>
                            </div>
                            <div class="card-body">
                                <p><strong>Movie Name:</strong> {{.booking.Show.Movie.Name}}</p>
                                <p><strong>Description:</strong> {{.booking.Show.Movie.Description}}</p>
                                <p><strong>Duration:</strong> {{.booking.Show.Movie.DurationMinute}}&nbsp;minutes</p>
                            </div>
                        </div>
                        
                        <!-- Theatre Details Card -->
                        <div class="card section">
                            <div class="card-header bg-success text-white">
                                <h3>Theatre Details</h3>
                            </div>
                            <div class="card-body">
                                <p><strong>Theatre Name:</strong> {{.booking.Show.Screen.Cinemas.Name}}</p>
                                <p><strong>Screen:</strong> {{.booking.Show.Screen.Name}}</p>
                            </div>
                        </div>
                        
                        <!-- Booked Seats Card -->
                        <div class="card section">
                            <div class="card-header bg-warning text-white">
                                <h3>Booked Seats</h3>
                            </div>
                            <div class="card-body">
                                <p><strong>Booked Seats:</strong> {{ range .seats}} {{ printf "%c" (add 65 .SeatRow)}}{{.SeatCol}}{{ end }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
